.mainTrabajos {
    h1 {
        font-family: $font;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 30px;
    }
    .gridTrabajos { 
        font-family: $font;
        margin-bottom: 100px;
    
        display: grid;
        grid-template-columns: 25% 65%;
        grid-template-rows: 35% 35% 35%;
        align-items: center;
    
        
        .carrouselFocal{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .carrouselMinimalista{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .carrouselDetallado{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .textoFocal{
            margin: 40px;
            background-color: bisque;
            border-radius: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            grid-column: 2/3;
            grid-row: 1/2;
    
            h2{
                font-size: 2.5rem;
                text-decoration: underline 2px
            }
            p{
                margin: 40px 80px;
                font-size: 1.5rem;
            }
        }
        .textoMinimalista{
            margin: 40px;
            background-color: bisque;
            border-radius: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            text-align: center;
            grid-column: 2/3;
            grid-row: 2/3;
            h2{
                font-size: 2.5rem;
                text-decoration: underline 2px
            }
            p{
                margin: 40px 80px;
                font-size: 1.5rem;
            }
        }
        .textoDetallado{
            margin: 40px;
            background-color: bisque;
            border-radius: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            text-align: center;
            grid-column: 2/3;
            grid-row: 3/4;
    
            h2{
                font-size: 2.5rem;
                text-decoration: underline 2px
            }
            p{
                margin: 40px 80px;
                font-size: 1.5rem;
            }
        }
    }
}