@media only screen and (max-width:600px) {
    // Main
    main {
        margin: 30px;
    }

    // Index
    .mainIndex{
        h1 {
            text-align: center;
        }
        h2 {
            font-size: 1.2rem;
            text-align: justify;
        }
    }

    // Redes
    .mainRedes{
        .iframes {
            flex-direction: column;
            align-items: center;
            .tarjetaInstagram{
                margin-bottom: 70px;
                box-shadow: none;
            }
            .tarjetaFacebook{
                box-shadow: none;
            }
        }
    }
    // Trabajos
    .mainTrabajos {
        .gridTrabajos {
            display: flex;
            flex-direction: column;
            .textoFocal{
                margin: 20px 0px;
                border-radius: 30px;
                p{
                    margin: 20px 20px ;
                    font-size: 1.3rem;
                    text-align: justify;
                }
            }
            .textoMinimalista{
                margin: 20px 0px;
                border-radius: 30px;
                p{
                    margin: 20px 20px;
                    font-size: 1.3rem;
                    text-align: justify;
                }
            }
            .textoDetallado{
                margin: 20px 0px;
                border-radius: 30px;
                p{
                    margin: 20px 20px;
                    font-size: 1.3rem;
                    text-align: justify;
                }
            }
        }
    }

    // Info
    .mainInfo{
        margin: 30px;
        align-items: center;
    }

    // Contacto
    .formulario {
        margin-top: 10px;
        form{
            max-width: 100%;
        }
    }
}

@media only screen and (min-width:601px) and (max-width:900px) {
    // Redes 
    .mainRedes{
        .iframes {
            flex-direction: column;
            align-items: center;
            .tarjetaInstagram{
                margin-bottom: 70px;
            }
        }
    }

    // Trabajos
    .mainTrabajos {
        .gridTrabajos {
            display: flex;
            flex-direction: column;
            .textoFocal{
                margin: 20px 0px;
                border-radius: 30px;
                p{
                    margin: 20px 20px ;
                    font-size: 1.3rem;
                    text-align: justify;
                }
            }
            .textoMinimalista{
                margin: 20px 0px;
                border-radius: 30px;
                p{
                    margin: 20px 20px;
                    font-size: 1.3rem;
                    text-align: justify;
                }
            }
            .textoDetallado{
                margin: 20px 0px;
                border-radius: 30px;
                p{
                    margin: 20px 20px;
                    font-size: 1.3rem;
                    text-align: justify;
                }
            }
        }
    }
    
}




